biokanga-manuscript.pdf
.nextflow*
results*
work/*
.Rhistory
#local hardlink to .Rmd :
writing/biokanga-manuscript.md
writing/biokanga-manuscript.log
writing/biokanga-manuscript.tex
.vscode/
figures/*.?
flowinfo*
downloaded
singularity-images/
tmp/