// manifest {
//   homePage = 'https://github.com/csiro-crop-informatics/biokanga-manuscript'
//   description = 'Pipeline for executing experiments underpinnig biokanga publication'
//   defaultBranch = 'master'
// }


// // Global default params, used in configs
params {
//   version = '0.3' //Pipeline version
  outdir = "./results"
  publishmode = "copy"
  debug = false
  debugChromosome = 'chr21'
}
//Output publishing conf
includeConfig 'conf/publish.config'

process.cache = 'lenient'
includeConfig 'conf/requirements.config'

profiles {
  slurm {
    process.executor = 'slurm'
  }
  singularity {
    singularity {
      enabled = true
      autoMounts = true
      cacheDir = "${HOME}/singularity-images"
    }
    includeConfig 'conf/containers.config'
  }
  singularitymodule {
    process.module = 'singularity/2.5.0' //Specific to our cluster - updated as required
  }

}

//GENERATE REPORT https://www.nextflow.io/docs/latest/tracing.html#trace-report
report {
    enabled = true
    file = "${params.outdir}/flowinfo/report.html"
}

//GENERATE TIMELINE https://www.nextflow.io/docs/latest/tracing.html#timeline-report
timeline {
    enabled = true
    timeline.file = "${params.outdir}/flowinfo/timeline.html"
}

//GENERATE PIPELINE TRACE https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
    enabled = true
    raw	= true //date and time are reported as milliseconds and memory as number of bytes
    file = "${params.outdir}/flowinfo/trace.tsv"
}
