// manifest {
//   homePage = 'https://github.com/csiro-crop-informatics/biokanga-manuscript'
//   description = 'Pipeline for executing experiments underpinnig biokanga publication'
//   defaultBranch = 'master'
// }


// // Global default params, used in configs
params {
//   version = '0.3' //Pipeline version
  outdir = "./results"
  publishmode = "copy"
  debug = false
  debugReads = 10000
  debugChromosome = 'chr21'
  // container = "docker://rsuchecki/biokanga_benchmark:0.3.4"
}
//Output publishing conf
includeConfig 'conf/publish.config'

process.cache = 'lenient'
includeConfig 'conf/requirements.config'

profiles {
  slurm {
    process.executor = 'slurm'
  }
  // modules {
  //   includeConfig 'conf/modules.config'
  // }
  singularity { //NOTE that this is separate to use of singularity for executing the docker container with ported benchmarking env
    singularity {
      enabled = true
      autoMounts = true
      cacheDir = "${HOME}/singularity-images"
    }
    includeConfig 'conf/containers.config'
  }
  singularitymodule {
    process.module = 'singularity/2.5.0'
  }

}


// //Default inputs
// //Output publishing conf
// includeConfig 'conf/publish.config'

// profiles {
//   docker {
//     docker {
//       enabled = true
//       fixOwnership = true
//       //runOptions = '--volume ${workflow.launchDir}/dataset/human/:/project/itmatlab/aligner_benchmark/dataset/human/'
//       // container = 'rsuchecki/biokanga_benchmark:0.1.1'
//     }
//   }

//   // singularity {
//     singularity {
//       enabled = true
//       // autoMounts = true
//       cacheDir = "${HOME}/singularity-images"
//       runOptions = "--writable --bind /flush1/suc010/work/dataset/human/:/project/itmatlab/aligner_benchmark/dataset/human/"

// //       // container = 'rsuchecki/biokanga_benchmark:0.1.1'
//     }
// //   }
// }

//GENERATE REPORT https://www.nextflow.io/docs/latest/tracing.html#trace-report
report {
    enabled = true
    file = "${params.outdir}/flowinfo/report.html"
}

//GENERATE TIMELINE https://www.nextflow.io/docs/latest/tracing.html#timeline-report
timeline {
    enabled = true
    timeline.file = "${params.outdir}/flowinfo/timeline.html"
}

//GENERATE PIPELINE TRACE https://www.nextflow.io/docs/latest/tracing.html#trace-report
trace {
    enabled = true
    file = "${params.outdir}/flowinfo/trace.txt"
}
