process.container = 'groovy-conda-samtools'
params {
  /*
  Specs of mapping/alignment tools to be used
  Required fields are: tool (name), version, container, index (indexing script template)
  and at least one mapping script template: dna2dna, rna2dna, dna2dna
  Templates must be wrapped in single ' (or tripple single ''') quotes.
  Variable used in templates are Nextflow variables, for example,
  variable ${ref} gets replaced with path to appropriate FASTA file.
  The template should only include params essential for execution,
  fine tuning params are defined separately, allowing exploration
  of parameter space without changes to the core template.
  */
  mappers = [
    [
      tool: 'bbmap',
      version: '38.44',
      container: 'rsuchecki/bbmap:38.44_fae5e1e07240e69896dbf7095872fb6fea43d045',
      index: 'echo bbmap ref=${ref} Xmx=${task.memory.toMega()}M',
      dna2dna: 'echo bbmap ${reads}'
     ],
    [
      tool: 'bbmap',
      version: '38.49',
      container: 'rsuchecki/bbmap:38.49_9e975d9bc6a657bc4306f4475be393b9fbe8e3fb',
      index: 'echo just index the genome',
      dna2dna: 'and align'
    ],
    [
      tool: 'biokanga',
      version: '4.4.2',
      container: 'csirocropinformatics/biokanga:4.4.2_57f94e3e831cc2290cd86059b4d23dea22228262',
      index: '''echo biokanga index --threads ${task.cpus} \
        -i ${ref} -o ${ref}.sfx --ref ${ref}''',
      dna2dna: 'echo biokanga ${reads}',
      // template: 'bbmap_old' //optional, otherwise tool name used to
    // [
    //   tool: 'minimap2',
    //   version: '2.17',
    //   container: 'rsuchecki/minimap2:2.17_1d3f326820696496f025a95632979cd4ea4140cb'
    ]
  ]

  /*
  To facilitate parameter space exploration and general exmperimentation
  with alignment/mapping procedures. If not specified, plain template is going to be used.
  If defined, the required params are:
  * tool - the name of the aligner/mapper
  * params - a string with options defined
  Optional params:
  * mode    - All if not specified, otherwise e.g. 'rna2dna' or 'dna2dna|rna2rna'
  * version - can be one ore more (eg 'v1.0|v1.1_dev')
              if not specified, param set applies to all versions
  * label   - if not specified it will default to 'default', but there can only be one 'default'
              for a given tool or tool+version+mode combination
  */
  mapperParams = [
    [
      tool: 'bbmap',
      // version: '', //can be one ore more, all available if not specified
      mode: 'rna2rna', //can be one or more, all available if not specified
      params: 'ambiguous=random',
      // label: 'default' ////'default' if not specified?
    ],
    [
      tool: 'biokanga',
      version: '3.4', //can be one ore more, all available if not specified
      mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
      params: '--mode 0 --pemode 3 --substitutions 5'
    ],
    // [
    //   tool: 'biokanga',
    //   // version: '4.4', //can be one ore more, all available if not specified
    //   mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
    //   params: '--mode 0 --pemode 3 --substitutions 5'
    // ],
    [
      tool: 'biokanga',
      // version: '', //can be one ore more, all available if not specified
      mode: 'rna2dna', //can be one or more, all available if not specified
      params: '--mode 0 --pemode 3 --pairmaxlen 100000 --substitutions 5 --minchimeric 50'
      //can have a separate 'default' per align mode, but have to check if > 'default/unlabelled' defined
    ],
    [
      tool: 'hisat2',
      mode: 'rna2dna',
      params: '--no-mixed --no-discordant --mp 1,0 --pen-noncansplice 12 --max-intronlen 100000 --sp 3,0'
    ]
  ]
}
