/*
This file provides default parametrisation for each aligner
This can be extended/overwritten at run time
e.g.
  -params-file conf/aligner.json
  -params-file conf/aligner.yaml
  -c alternative-aligner.config
Or you can simly modify this file or add to it
*/
params {
  alignersParams = [:] //can be empty or overwritten by -params-file
  defaults {
    alignersParams {
    DNA2DNA = [
      'biokanga': [
        default: '--mode 0 --pemode 3 --substitutions 5 '
      ],
      'dart': [
        default: '-intron 100000'
      ]
    ]
    RNA2RNA = [
      'biokanga': [
        default: '--mode 0 --pemode 3 --substitutions 5 '
      ]
    ]
    RNA2DNA = [
      'biokanga': [
        default: '--mode 0 --pemode 3 --pairmaxlen 100000 --substitutions 5 --minchimeric 50'
      ],
      'bbmap': [
        default: 'maxindel=100000 ambiguous=best intronlen=20 local=t'
      ],
      'bowtie2': [
        default: '--local'
      ],
      'bwa': [
        default: '-L 1'
      ],
      'dart': [
        default: '-intron 100000'
      ],
      'gsnap': [
        default: '--merge-distant-samechr --novelsplicing 1 --max-mismatches 0.05 --pairmax-rna 100000 --localsplicedist 100000 --adapter-strip paired --batch 5'
      ],
      'hisat2': [
        default: '--no-mixed --no-discordant --mp 1,0 --pen-noncansplice 12 --max-intronlen 100000 --sp 3,0'
      ],
      'star': [
        default: '--outFilterMismatchNoverReadLmax 0.05'
      ],
      'subread': [
        default: ' --maxMismatches 5'
      ]
    ]
  }
  }
}
