/*
1. This file provides default parametrisation for each aligner
2. This can be extended/overwritten at run time
  e.g.
  -params-file conf/aligner.json
  -params-file conf/aligner.yaml
  -c alternative-aligner.config
3. Or, you can simly modify this file or add to it
4. An empty default params string will be initiated if default not specified for an aligner in a given
*/
params {
  alignersParams = [:] //can be empty or overwritten by -params-file
  defaults {
    alignersParams {
      DNA2DNA = [
        'biokanga': [
          default: '--mode 0 --pemode 3 --substitutions 5 '
        ]
      ]
      RNA2RNA = [
        'bbmap': [
          default: 'ambiguous=random'
        ],
        'biokanga': [
          default: '--mode 0 --pemode 3 --substitutions 5 '
        ]
        // 'rapmap': [ //BT2 settings seem to cause issues with SAM format as reported by samtools view
        // [W::sam_read1] Parse error at line 14170
        // [main_samview] truncated file.
        //   mimicBT2: '--mimicBT2',
        //   mimicStrictBT2: '--mimicStrictBT2'
        // ]
      ]
      RNA2DNA = [
        'biokanga': [
          default: '--mode 0 --pemode 3 --pairmaxlen 100000 --substitutions 5 --minchimeric 50'
        ],
        'bbmap': [
          default: 'maxindel=100000 ambiguous=best intronlen=20 local=t'
        ],
        'bowtie2': [
          default: '--local' //Increase alignment rates for reads spanning introns.
        ],
        'bwa': [
          default: '-L 1'
        ],
        'dart': [
          default: '-intron 100000'
        ],
        'gsnap': [
          default: '--merge-distant-samechr --novelsplicing 1 --max-mismatches 0.05 --pairmax-rna 100000 --localsplicedist 100000 --adapter-strip paired --batch 5'
        ],
        'hisat2': [
          default: '--no-mixed --no-discordant --mp 1,0 --pen-noncansplice 12 --max-intronlen 100000 --sp 3,0'
        ],
        'star': [
          default: '--outFilterMismatchNoverReadLmax 0.05'
        ],
        'subread': [
          default: ' --maxMismatches 5'
        ]
      ]
    }
  }
}
