process {
  //default container, standard-ish linux toool set: wget, gawk... //replaced by individual containers where applicable
  // container = {docker.enabled ? 'rsuchecki/tools:0.2@sha256:....' : 'rsuchecki/tools:0.2'}
  container = 'rsuchecki/tools:0.2'

    withLabel: bbmap {
      container = 'rsuchecki/bbmap:38.49_9e975d9bc6a657bc4306f4475be393b9fbe8e3fb'
    }
    withLabel: benchmark {
      container = 'rsuchecki/biokanga_benchmark:0.7'
    }
    withLabel: biokanga {
      container = 'csirocropinformatics/biokanga:4.4.2_57f94e3e831cc2290cd86059b4d23dea22228262'
    }
    withLabel: bowtie2 {
      container = 'rsuchecki/bowtie2:2.3.5_cf1abfa200bdeb2d1c3095be1e8ad99142121b45'
    }
    withLabel: bwa {
      container = 'rsuchecki/bwa:0.7.17_8b61e2a77c105f3ec28d260b556af5cf12c49111'
    }
    withLabel: dart {
      container = 'rsuchecki/dart:1.3.5_a2af064d7ed5df1f16e31ea46645793b356a7758'
    }
    withLabel: gffread {
      container = 'rsuchecki/gffread:0.11.4_32ec4f0a9d4c9acbbe9b93c0e6c2da3e9f60e097'
    }
    withLabel: groovy {
      container = 'rsuchecki/groovy:3.0_868da92992a46b74552abbbf72b76c8aba3fbc9c'
    }
    withLabel: groovy_samtools { //now redundant, simply use our latest samtools container
      container = 'rsuchecki/groovy-conda-samtools:0.1_67d8f0d93333fa0511ae1d23064beba2b544ea0c'
    }
    withLabel: gsnap {
      container = 'rsuchecki/gmap-gsnap:2019-03-15_af7b4bf0f03952c583ba30657f2aca90f8a8783a'
    }
    withLabel: kallisto {
      container = 'rsuchecki/kallisto:0.46.0_fe13871790208317a506f0a4f7c3a134cb48f0b4'
    }
    withLabel: hisat2 {
      container = 'rsuchecki/hisat2:2.1.0_4cb1d4007322767b562e98f69179e8ebf6d31fb1'
    }
    withLabel: rnftools {
      // container = 'rsuchecki/rnftools:0.3.1.3_3123fca68e14580a453deea77a0549929ed44715' //WORKS, more recent builds fail
      container = 'rsuchecki/rnftools:0.3.1.3_3d09a45044213bfbc96a3e0e70924f68812c718b'
      // container = 'rsuchecki/rnftools:0.3.1.3_a7e1f831b716c12385636652dc999e988b3c8af4'
      //FAILS container = 'quay.io/biocontainers/rnftools@sha256:8b588055977bbf83116f394d755c088c885b37b2ccce0b81d50b2d87ba0d2f29'
      //FAILS container = 'quay.io/biocontainers/rnftools@sha256:f3b8bedc40416bd40de0f1b5ef5096b9ab47a079ba1735a130825989de20f4d9'
    }
    withLabel: rrender {
      container = 'rsuchecki/renderer:0.3.4_7ff37df6cabc4f1f635074c48c129fe8b2368c4b'
    }
    withLabel: rscript {
      container = 'rsuchecki/rscripts:0.7_c66407a6a160a64a5f973868bd095e28bade0094'
    }
    withLabel: samtools {
      container = 'rsuchecki/samtools:1.9_ea5d3c82fb85c174dce08a4c736ed44c1e6bb7eb'
    }
    withLabel: sra {
      container = 'ncbi/sra-toolkit:2.9.2' //ncbi/sra-toolkit@sha256:0e6ff2d6560ad7e59821dad53488bdcf09a37c6ccdeab0caced9bbf76837278d
    }
    withLabel: star {
      container = 'rsuchecki/star-aligner:2.7.0f_c5dc08f157c803fec027679c00759359c9c8a814'
    }
    withLabel: subread {
      //by digest (version 1.6.4)
      container = 'rsuchecki/subread:1.6.4_6c100baea58da10b0505153e26b92f3a2ad1f8b0'
      //by tag
      // container = 'quay.io/biocontainers/subread:1.6.4--h84994c4_1'
    }
}
