//Containers for processess other then indexing and alignment/mapping
process {
  //default container, standard-ish linux tool set: wget, gawk... //replaced by individual containers where applicable
  container = 'rsuchecki/tools:0.2' // container = {docker.enabled ? 'rsuchecki/tools:0.2@sha256:....' : 'rsuchecki/tools:0.2'}

    withLabel: aspera {
      container = 'ibmcom/aspera-cli:3.9.1'
    }

    withLabel: entrez {
      container = 'quay.io/biocontainers/entrez-direct:11.0--pl526_1'
    }

    withLabel: gffread {
      container = 'rsuchecki/gffread:0.11.4_32ec4f0a9d4c9acbbe9b93c0e6c2da3e9f60e097'
    }
    withLabel: groovy {
      container = 'rsuchecki/groovy-samtools:3.0jre-1.9-alpine_879f6ced4ecb8faac3e6e42e32342b6fbe5ac9bd'
    }
    withLabel: groovy_samtools { //now redundant, simply switch to 'samtools' label with our samtools container
      container = 'rsuchecki/groovy-samtools:3.0jre-1.9-alpine_879f6ced4ecb8faac3e6e42e32342b6fbe5ac9bd'
    }
    withLabel: rnftools {
      //container = 'rsuchecki/rnftools:0.3.1.3_3d09a45044213bfbc96a3e0e70924f68812c718b' //OK
      // container = 'quay.io/biocontainers/rnftools:0.3.1.3--py36_0'  //OK
      container = 'rsuchecki/rnftools:0.3.1.2_ce8211d50e5223ec1cbe03faaccf5060273f34f9'
    }
    withLabel: rrender {
      container = 'rsuchecki/renderer:0.4.1_81ab6b5d71509d48e3a37b5eafb4bca5b117b5fc'
    }
    // withLabel: rscript {
    //   container = 'rsuchecki/rscripts:0.7_c66407a6a160a64a5f973868bd095e28bade0094'
    // }
    withLabel: samtools {
      container = 'rsuchecki/samtools:1.10_9870ff5feb92e24fca1b6bf69afed30c1d7684f2'
    }



    withLabel: sra {
      container = 'quay.io/biocontainers/sra-tools:2.10.1--pl526haddd2b5_0'
      // container = 'ncbi/sra-toolkit:2.9.2' //ncbi/sra-toolkit@sha256:0e6ff2d6560ad7e59821dad53488bdcf09a37c6ccdeab0caced9bbf76837278d
    }

    withLabel: fastqdump {
      container = 'quay.io/biocontainers/parallel-fastq-dump:0.6.6--py_0'
    }
}
