process {
  //default container, standard-ish linux toool set: wget, gawk... //replaced by individual containers where applicable
  container = 'rsuchecki/tools:0.2'

    withLabel: bbmap {
      container = 'rsuchecki/bbmap:38.44_fae5e1e07240e69896dbf7095872fb6fea43d045'
    }
    withLabel: benchmark {
      container = 'rsuchecki/biokanga_benchmark:0.7'
    }
    withLabel: biokanga {
      container = 'csirocropinformatics/biokanga:4.4.1'
    }
    withLabel: bowtie2 {
      //by digest
      // container = 'quay.io/biocontainers/bowtie2@sha256:c28992b35b89d353beefdaaf1ee216432524ca5a3276284258594190f33e145b'
      //by tag
      container = 'quay.io/biocontainers/bowtie2:2.3.5--py27he860b03_0'
    }
    withLabel: bwa {
      container = 'rsuchecki/bwa:0.7.17_8b61e2a77c105f3ec28d260b556af5cf12c49111'
    }
    withLabel: dart {
      container = 'rsuchecki/dart:1.3.3'
    }
    withLabel: gsnap {
      container = 'rsuchecki/gmap-gsnap:2018-10-26'
    }
    withLabel: hisat2 {
      container = 'rsuchecki/hisat2:2.1.0'
    }
    withLabel: rnftools {
      container = 'rsuchecki/rnftools:0.3.1.3'
      // container = 'rsuchecki/rnftools:0.3.1.3_3123fca68e14580a453deea77a0549929ed44715'
    }
    withLabel: rrender {
      container = 'rsuchecki/renderer:0.3.4_7ff37df6cabc4f1f635074c48c129fe8b2368c4b'
    }
    withLabel: rscript {
      container = 'rsuchecki/rscripts:0.6_1bd088e3cea9ba5d5d8864312e3feef3f5fcb86e'
    }
    withLabel: samtools {
      container = 'rsuchecki/samtools:1.9_ea5d3c82fb85c174dce08a4c736ed44c1e6bb7eb'
    }
    withLabel: sra {
      container = 'ncbi/sra-toolkit:2.9.2'
    }
    withLabel: star {
      container = 'rsuchecki/star-aligner:2.6.1b'
    }
    withLabel: subread {
      //by digest
      // container = 'quay.io/biocontainers/subread@sha256:a27dcc4f335d8f98346a9b9d886230de6bba2bf7518372c2022c22ab225c09ff'
      //by tag
      container = 'quay.io/biocontainers/subread:1.6.4--h84994c4_1'
    }
}
