/*
Specs of mapping/alignment tools to be used
Required fields are:
  * tool (name),
  * version,
  * container,
  * index i.e. inline indexing script template or indexing template file name
    or set to true if if indexing template file is templates/${index}/${tool}.sh)
  * at least one mapping script template: dna2dna, rna2dna, dna2dna
    i.e. (inline) mapping script or template file name or true if template is ${mode}/${tool}.sh)
    Script templates embedded in config must be wrapped in single '
    (or tripple single ''') quotes to avoid premature evaluation of embeded variables.
Variable used in templates are Nextflow, not bash variables, for example, variable ${ref}
in indexing templates gets replaced with path to appropriate FASTA file.
The template should only include params essential for execution,
fine tuning params are defined separately, allowing exploration
of parameter space without changes to the core template.
*/

params {
  mappersDefinitions = [
    // [
    //   tool: 'bbmap',
    //   version: '38.49',
    //   container: 'rsuchecki/bbmap:38.44_fae5e1e07240e69896dbf7095872fb6fea43d045',
    //   // index: 'echo bbmap ref=${ref} Xmx=${task.memory.toMega()}M', //
    //   // not_allowed: 'trip over that!',
    //   // dna2dna: true //either (triple) single quoted string or true if template dna2dna/${tool}_align.sh is to be used
    //   index: true, // or explicit 'whatever.sh' under templates/index,
    //   dna2dna: true, //or explicit 'whatever.sh' under templates/dna2dna,
    //   rna2rna: true,
    // ],
    [
      tool: 'bbmap',
      version: '38.49',
      container: 'rsuchecki/bbmap:38.49_9e975d9bc6a657bc4306f4475be393b9fbe8e3fb',
      index: 'bbmap.sh ref=${ref} Xmx=${task.memory.toMega()}M',
      dna2dna: true,
      rna2rna: true
    ],
    [
      tool: 'biokanga',
      version: '4.3.11',
      container: 'rsuchecki/biokanga:4.3.11',
      index: 'biokanga index --threads ${task.cpus} -i ${ref} -o ${ref}.sfx --ref ${ref}',
      dna2dna: true,
      rna2rna: true,
    ],
    [
      tool: 'biokanga',
      version: '4.4.2',
      container: 'csirocropinformatics/biokanga:4.4.2_57f94e3e831cc2290cd86059b4d23dea22228262',
      index: true, //or index: 'biokanga index --threads ${task.cpus} -i ${ref} -o ${ref}.sfx --ref ${ref}',
      dna2dna: true,
      rna2rna: true,
      // dna2dna:
      // '''
      // biokanga align \
      // --sfx ${ref}.sfx \
      // --in ${reads[0]} \
      // --pair ${reads[1]}  \
      // --out out.bam \
      // --threads ${task.cpus} \
      // ${ALIGN_PARAMS}
      // '''
      // --threads ${task.cpus} \
      // ${ALIGN_PARAMS}
      // '''
      // template: 'bbmap_old' //optional, otherwise tool name used to
    // [
    //   tool: 'minimap2',
    //   version: '2.17',
    //   container: 'rsuchecki/minimap2:2.17_1d3f326820696496f025a95632979cd4ea4140cb'
    ]
  ]
}

