/*
To facilitate parameter space exploration and general exmperimentation
with alignment/mapping procedures. If not specified, plain template is going to be used.
If defined, the required params are:
 * tool - the name of the aligner/mapper
 * params - a string with options defined
Optional params:
 * mode    - All if not specified, otherwise e.g. 'rna2dna' or 'dna2dna|rna2rna'
 * version - can be one ore more (eg 'v1.0|v1.1_dev')
             if not specified, param set applies to all versions
 * label   - if not specified it will default to 'default', but there can only be one 'default'
             for a given tool or tool+version+mode combination
*/
params {
  mapperParamsDefinitions = [
    [
      tool: 'bbmap',
      // version: '', //can be one ore more, all available if not specified
      mode: 'rna2rna', //can be one or more, all available if not specified
      params: 'ambiguous=random',
      // label: 'default' ////'default' if not specified?
    ],
    // [
    //   tool: 'biokanga',
    //   version: '4.4.0', //can be one ore more, all available if not specified
    //   mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
    //   params: '--mode 0 --pemode 3 --substitutions 5'
    // ],
    [
      tool: 'biokanga',
      // version: ['4.4.2','4.4.0'], //can be one ore more, all available if not specified
      // version: '4.4.2|4.4.0', //can be one ore more, all available if not specified
      version: '4.4.2', //can be one ore more, all available if not specified
      mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
      params: '--mode 0 --pemode 3 --substitutions 5'
    // ],
    // [
    //   tool: 'biokanga',
    //   // version: '', //can be one ore more, all available if not specified
    //   mode: 'rna2dna', //can be one or more, all available if not specified
    //   params: '--mode 0 --pemode 3 --pairmaxlen 100000 --substitutions 5 --minchimeric 50'
    //   //can have a separate 'default' per align mode, but have to check if > 'default/unlabelled' defined
    // ],
    // [
    //   tool: 'hisat2',
    //   mode: 'rna2dna',
    //   params: '--no-mixed --no-discordant --mp 1,0 --pen-noncansplice 12 --max-intronlen 100000 --sp 3,0'
    ]
  ]
}