/*
Specs of mapping/alignment tools to be used
Required fields are:
  * tool (name),
  * version,
  * container,
  * index i.e. inline indexing script template or indexing template file name
    or set to true if if indexing template file is templates/${index}/${tool}.sh)
  * at least one mapping script template: dna2dna, rna2dna, dna2dna
    i.e. (inline) mapping script or template file name or true if template is ${mode}/${tool}.sh)
    Script templates embedded in config must be wrapped in single '
    (or tripple single ''') quotes to avoid premature evaluation of embeded variables.
Variable used in templates are Nextflow, not bash variables, for example, variable ${ref}
in indexing templates gets replaced with path to appropriate FASTA file.
The template should only include params essential for execution,
fine tuning params are defined separately in mapping_params.config, allowing exploration
of parameter space without changes to the core template.
*/

params {
  mappersDefinitions = [
    // [
    //   tool: 'bbmap',
    //   version: '38.49',
    //   container: 'rsuchecki/bbmap:38.44_fae5e1e07240e69896dbf7095872fb6fea43d045',
    //   // index: 'echo bbmap ref=${ref} Xmx=${task.memory.toMega()}M', //
    //   // not_allowed: 'trip over that!',
    //   // dna2dna: true //either (triple) single quoted string or true if template dna2dna/${tool}_align.sh is to be used
    //   index: true, // or explicit 'whatever.sh' under templates/index,
    //   dna2dna: true, //or explicit 'whatever.sh' under templates/dna2dna,
    //   rna2rna: true,
    // ],
    [
      tool: 'bbmap',
      version: '38.49',
      versionCall: 'bbmap.sh version 2>&1 | awk \'/BBMap version/ {print $3}\'',
      container: 'rsuchecki/bbmap:38.49_9e975d9bc6a657bc4306f4475be393b9fbe8e3fb',
      index: 'bbmap.sh ref=${ref} Xmx=${task.memory.toMega()}M',
      dna2dna: true,
      rna2rna: true
    ],
    [
      tool: 'biokanga',
      version: '4.3.11',
      versionCall: 'biokanga align --version | cut -f4 -d" "',
      container: 'rsuchecki/biokanga:4.3.11',
      index: 'biokanga index --threads ${task.cpus} -i ${ref} -o ${ref}.sfx --ref ${ref}',
      dna2dna: true,
      rna2rna: true,
    ],
    [
      tool: 'biokanga',
      version: '4.4.2',
      versionCall: 'biokanga align --version | cut -f4 -d" "',
      container: 'csirocropinformatics/biokanga:4.4.2_57f94e3e831cc2290cd86059b4d23dea22228262',
      index: true, //or index: 'biokanga index --threads ${task.cpus} -i ${ref} -o ${ref}.sfx --ref ${ref}',
      dna2dna: true,
      rna2rna: true,
      // dna2dna:
      // '''
      // biokanga align \
      // --sfx ${ref}.sfx \
      // --in ${reads[0]} \
      // --pair ${reads[1]}  \
      // --out out.bam \
      // --threads ${task.cpus} \
      // ${ALIGN_PARAMS}
      // '''
      // --threads ${task.cpus} \
      // ${ALIGN_PARAMS}
      // '''

    ],
    [
      tool: 'bowtie2',
      version: '2.3.5',
      versionCall: 'bowtie2 --version | awk \'/bowtie2-align-s version.*$/{print $3}\'',
      container: 'rsuchecki/bowtie2:2.3.5_cf1abfa200bdeb2d1c3095be1e8ad99142121b45',
      index: true,
      dna2dna: true,
      rna2rna: true,
    ],
    [
      tool: 'bwa',
      version: '0.7.17-r1188',
      versionCall: 'bwa 2>&1 | awk \'/Version.*$/{print $2}\'',
      container: 'rsuchecki/bwa:0.7.17_8b61e2a77c105f3ec28d260b556af5cf12c49111',
      index: true,
      dna2dna: true,
      rna2rna: true,
    ],
    [
      tool: 'dart',
      versionCall: 'dart -v | awk \'{print $2}\'',
      version: 'v1.3.5',
      container: 'rsuchecki/dart:1.3.5_a2af064d7ed5df1f16e31ea46645793b356a7758',
      index: true,
      rna2dna: true,
    ],
    [
      tool: 'gsnap',
      versionCall: 'gsnap --version 2>&1 | awk \'/GSNAP version.*/{print $3}\'',
      version: '2019-03-15',
      container: 'rsuchecki/gmap-gsnap:2019-03-15_af7b4bf0f03952c583ba30657f2aca90f8a8783a',
      index: true,
      rna2dna: true,
    ],
    [
      tool: 'hisat2',
      version: '2.1.0',     
      versionCall: 'hisat2 --version | head -1 | cut -f3 -d" "',
      container: 'rsuchecki/hisat2:2.1.0_4cb1d4007322767b562e98f69179e8ebf6d31fb1',
      index: true,
      rna2dna: true,
    ],
    [
      tool: 'kallisto',
      version: '0.46.0',
      versionCall: 'kallisto version | cut -f3 -d" "',
      container: 'rsuchecki/kallisto:0.46.0_fe13871790208317a506f0a4f7c3a134cb48f0b4',
      index: true,
      rna2rna: true,
    ],
    [
      tool: 'minimap2',
      version: '2.17-r941',
      versionCall: 'minimap2 --version',
      container: 'rsuchecki/minimap2:2.17_1d3f326820696496f025a95632979cd4ea4140cb',
      index: true,
      dna2dna: true,
      rna2rna: true,
    ],
    // [
    //   tool: 'rapmap', //in lieu of salmon container = 'quay.io/biocontainers/salmon:0.14.1--h86b0361_1'
    //   version: '0.6.0',
    //   container: 'rsuchecki/rapmap:0.6.0_ea41639d1009f7bf77a0ccc9c777c8090009711f',
    //   index: true,
    //   rna2rna: true,
    // ],
    [
      tool: 'star',
      version: '2.7.0f',
      versionCall: 'STAR --version',
      container: 'rsuchecki/star-aligner:2.7.0f_c5dc08f157c803fec027679c00759359c9c8a814',
      index: true,
      rna2dna: true,
    ],
    // [
    //   tool: 'subread',
    //   version: '1.6.4',
    //   container: 'rsuchecki/subread:1.6.4_6c100baea58da10b0505153e26b92f3a2ad1f8b0',
    //   index: true,
    //   rna2dna: true,
    // ],
    // [
    //   tool: '',
    //   version: '',
    //   container: '',
    //   index: true,
    //   dna2dna: true,
    //   rna2rna: true,
    // ],
    // [
    //   tool: '',
    //   version: '',
    //   container: '',
    //   index: true,
    //   dna2dna: true,
    //   rna2rna: true,
    // ],
  ]
}

