/*
To facilitate parameter space exploration and general exmperimentation
with alignment/mapping procedures. If not specified, plain template is going to be used.
If defined, the required params are:
 * tool - the name of the aligner/mapper
 * params - a string with options defined
Optional params:
 * mode    - Mapping mode e.g. 'rna2dna' or 'dna2dna|rna2rna', all if not specified
 * version - can be unset, single or multiple (e.g. 'v1.0|v1.1_dev' or ['4.3.11','4.4.2'])
             if not specified, param set applies to all versions
 * label   - has to be unique for for a given tool+version+mode combination
             if not specified it will be set to 'default', but there can only be one 'default'
             for any tool+version+mode combination

If a parameter set is not defined for an existing tool+version+mode combination (as per mappers.config)
then an empty 'default' will be generated.
*/
params {
  mapperParamsDefinitions = [
    [
      tool: 'bbmap',
      // version: '', //can be one ore more, all available if not specified
      mode: 'rna2rna', //can be one or more, all available if not specified
      params: 'ambiguous=random',
      label: 'rand' ////'default' if not specified?
    ],
    // [
    //   tool: 'biokanga',
    //   version: '4.4.0', //can be one ore more, all available if not specified
    //   mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
    //   params: '--mode 0 --pemode 3 --substitutions 5'
    // ],
    [
      tool: 'biokanga',
      version: '4.3.11|4.4.2', //can be one ore more, all available if not specified
      //version: ['4.3.11','4.4.2'], //alternative syntax
      mode: 'dna2dna|rna2rna', //can be one or more, all available if not specified
      params: '--mode 0 --pemode 3 --substitutions 5'
    ],
    // [
    //   tool: 'biokanga',
    //   // version: '', //can be one ore more, all available if not specified
    //   mode: 'rna2dna', //can be one or more, all available if not specified
    //   params: '--mode 0 --pemode 3 --pairmaxlen 100000 --substitutions 5 --minchimeric 50'
    //   //can have a separate 'default' per align mode, but have to check if > 'default/unlabelled' defined
    // ],
    // [
    //   tool: 'hisat2',
    //   mode: 'rna2dna',
    //   params: '--no-mixed --no-discordant --mp 1,0 --pen-noncansplice 12 --max-intronlen 100000 --sp 3,0'
    // ]
  ]
}