process {
    withLabel: biokanga {
      module = 'biokanga/4.3.9'
    }
    withLabel: hisat2 {
      //module = 'hisat/2.1.0'
       module = 'hisat/2.0.5'
    }
    withLabel: ruby {
      module = 'ruby/2.4.2'
    }
    withLabel: samtools {
      module = 'samtools/1.9.0'
    }
    withLabel: singularity {
      module = 'singularity/2.5.0'
    }
}
