process {
  withLabel: download {
    publishDir {
      path = "${params.outdir}/download"
      mode = "link"
    }
  }
  withLabel: stats {
    publishDir {
      path = "${params.outdir}"
      mode = "${params.publishmode}"
      overwrite = true
    }
  }
  withLabel: ES {
    publishDir {
      path = "${params.outdir}/ES"
      mode = "${params.publishmode}"
      overwrite = true
    }
  }
  withLabel: figures {
    publishDir {
      path = "${params.outdir}/figs"
      mode = "${params.publishmode}"
      overwrite = true
    }
  }
    withLabel: report {
    publishDir {
      path = "${params.outdir}"
      mode = "${params.publishmode}"
      overwrite = true
    }
  }
}
