params {
  rreads = [
    [
      sra     : 'SRR769609', // ['SRR769608','SRR769609'], //'SRX247418', //'SRS374072', //3 time points SRX247418, SRX247417, SRX229331  // sra     : 'SRR769608',
      seqtype : 'RNA',
      subset  : 20000, //optional, fixed number or fraction. Use all if not specified
      target  : [ //can be a map [taget,version] or a list of maps
        species: 'Encephalitozoon_cuniculi_ecuniii_l',
        version: 'gca_001078035'
      ]
    ],
    [
      sra     : 'SRR122312',
      seqtype : 'DNA',
      subset  : 20000, //optional, fixed number or decimal fraction. Use all if not specified
      target  : [ //can be a map [taget,version] or a list of maps
        species: 'Encephalitozoon_cuniculi_ecuniii_l',
        version: 'gca_001078035'
      ]
    ],
    // [
    //   label   : 'SRR769609', //required if not sra but explicit file names
    //   reads   : './downloaded/SRR769609_?.fastq.gz', //alternatively: ['./downloaded/SRR769609_1.fastq.gz','./downloaded/SRR769609_2.fastq.gz'],
    //   seqtype : 'RNA',
    //   subset  : 0.01, //optional, fixed number or fraction. Use all if not specified
    //   target  : [ //can be a map [taget,version] or a list of maps
    //     species: 'Encephalitozoon_cuniculi_ecuniii_l',
    //     version: 'gca_001078035'
    //   ]
    // ],
  ]
}