params {
  [
    species : 'Encephalitozoon_cuniculi',
    sra     : 'SRX002289', //['SRX002289','SRX002285','SRX002287'] //string or list of strings, could also be e.g. fastq: ['/path/to/r1','path/to/r2'] ???
    target  : {
      species: 'Encephalitozoon_cuniculi_ecuniii_l'
      version: 'gca_001078035'
    }
  ]
}