params {
  rreads = [
    // [
    //   species : 'Encephalitozoon_cuniculi',
    //   sra     : 'SRS367768', 'SRX193443', ////SINGLE end - small dataset https://www.ncbi.nlm.nih.gov/sra/SRX193443[accn]
    //   seqtype : 'DNA',
    //   target  : [
    //     species: 'Encephalitozoon_cuniculi_ecuniii_l',
    //     version: 'gca_001078035'
    //   ]
    // ],
    // [
    //   species : 'Encephalitozoon_cuniculi',
    //   sra     : 'SRP002538', //['SRX002289','SRX002285','SRX002287'] //string or list of strings, could also be e.g. fastq: ['/path/to/r1','path/to/r2'] ???
    //   seqtype : 'DNA',
    //   target  : [
    //     species: 'Encephalitozoon_cuniculi_ecuniii_l',
    //     version: 'gca_001078035'
    //   ]
    // ],
    [
      sra     : 'SRR769608', // ['SRR769608','SRR769609'], //'SRX247418', //'SRS374072', //3 time points SRX247418, SRX247417, SRX229331  // sra     : 'SRR769608',
      seqtype : 'RNA',
      subset  : 20000, //optional, fixed number or fraction. Use all if not specified
      target  : [ //can be a map [taget,version] or a list of maps
        species: 'Encephalitozoon_cuniculi_ecuniii_l',
        version: 'gca_001078035'
      ]
    ],
    [
      label   : 'SRR769609', //required if not sra but explicit file names
      reads   : './downloaded/SRR769609_?.fastq.gz', //alternatively: ['./downloaded/SRR769609_1.fastq.gz','./downloaded/SRR769609_2.fastq.gz'],
      seqtype : 'RNA',
      subset  : 0.01, //optional, fixed number or fraction. Use all if not specified
      target  : [ //can be a map [taget,version] or a list of maps
        species: 'Encephalitozoon_cuniculi_ecuniii_l',
        version: 'gca_001078035'
      ]
    ],
  //   [
  //     species : 'Fake_species',
  //     r1     : 'path/tofastq1.gz',
  //     r2     : 'path/tofastq2.gz',
  //     seqtype : 'DNA',
  //     target  : [
  //       species: 'Encephalitozoon_cuniculi_ecuniii_l',
  //       version: 'gca_001078035'
  //     ]
  //   ],
  //   [
  //     species : 'Another_Fake_species',
  //     r1     : 'path/tofastq1.gz',
  //     r2     : 'path/tofastq2.gz',
  //     sra    : 'cant have both sra and explicit r1, r2  read file def...',
  //     seqtype : 'DNA',
  //     target  : [
  //       species: 'Encephalitozoon_cuniculi_ecuniii_l',
  //       version: 'gca_001078035'
  //     ]
  //   ],
  //   [
  //     species : 'Yet_Another_Fake_species',
  //     seqtype : 'DNA',
  //     target  : [
  //       species: 'Encephalitozoon_cuniculi_ecuniii_l',
  //       version: 'gca_001078035'
  //     ]
  //   ]
  ]
}