process {
  errorStrategy = 'retry'
  maxRetries = 3
  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  time = { check_max( 2.h * task.attempt, 'time' ) }
  withLabel: index {
    cpus = 10
    memory = 40.GB
    time = 2.h
  }
  withLabel: debugIndex {
    cpus = 4
    memory = 40.GB
    time = 2.h
  }
  withLabel: align {
    cpus = 10
    memory = 40.GB
    time = 4.h
  }
  withLabel: debugAlign {
    cpus = 4
    memory = 40.GB
    time = 2.h
  }
  withLabel: slow {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }
  withLabel: sort {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }
  }
}

params {
  // Defaults to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 48.h
}