process {
    cpus = 2
    memory = 4.GB
    time = 2.h
    withLabel: index {
        cpus = 10
        memory = 40.GB
        time = 2.h
    }
    withLabel: align {
        cpus = 10
        memory = 40.GB
        time = 4.h
    }
    withLabel: sort {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }
}
