/*
This file provides input specification and read simulation settings
suitable for testing/development purposes.
This can (and should) be overridden at run-time by specifying
e.g. -params-file conf/simulatedDNA.json.
Alterantively, you can modify this file or add to it
*/

params {
  //LOCAL AND/OR REMOTE REFERENCE GENOME ASSEMBLIES(S)
  references = [
    [
      species : "Arabidopsis_thaliana", //Must be Genus_species
      version : "TAIR10_Pt",
      fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.chromosome.Pt.fa.gz" //can be local or remote
    ],
    [
      species : "Oryza_sativa", //Must be Genus_species
      version : "IRGSP-1.0_Mt",
      fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/oryza_sativa/dna/Oryza_sativa.IRGSP-1.0.dna.chromosome.Mt.fa.gz" //can be local or remote
    ]
  ]

  simreads {
    //WgSim or its rnf processing problematic as all R2s reported as wrongly aligned, similar issue with CuReSim, use in SE mode only
    // simulator = ["ArtIllumina", "CuReSim", "DwgSim", "MasonIllumina", "WgSim"]
    simulator = ["ArtIllumina", "MasonIllumina"]
    nreads = 200
    // nrepeat = 1  //in silico replication, probably better just to bump up the number of reads?
    length = 100 //can be a list
    mode = ["SE","PE"] //"PE" //
    distance = [300] //PE only, can be a list hence in square brackets
    distanceDev = [50] //PE only, can be a list hence in square brackets
  }
}