/*
This file provides input specification and read simulation settings
suitable for testing/development purposes.
This can (and should) be overridden at run-time by specifying
e.g. -params-file conf/simulations.json.
Alterantively, you can modify this file or add to it
*/

params {
  //LOCAL AND/OR REMOTE REFERENCE GENOME ASSEMBLIES(S)
  //NOTE: LOCAL FILES SHOULD NOT BE ACCESSED VIA SYMLINKS AND PATHS NEED TO BE CONSISTENT ACROSS HEAD AND COMPUTE NODES

  references = [
    [
        species : "Encephalitozoon_cuniculi_ecuniii_l",
        version : "gca_001078035",
        fasta : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/fasta/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/dna_index/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.dna.toplevel.fa.gz",
        gff : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-45/gff3/fungi_microsporidia1_collection/encephalitozoon_cuniculi_ecuniii_l_gca_001078035/Encephalitozoon_cuniculi_ecuniii_l_gca_001078035.ECIIIL.45.gff3.gz",
        seqtype : "DNA"
    ],
    [
      species : "Escherichia_coli",
      version : "str_k_12_substr_mg1655",
      fasta : "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-44/fasta/bacteria_0_collection/escherichia_coli_str_k_12_substr_mg1655/dna/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.dna.toplevel.fa.gz",
      gff : "ftp://ftp.ensemblgenomes.org/pub/bacteria/release-44/gff3/bacteria_0_collection/escherichia_coli_str_k_12_substr_mg1655/Escherichia_coli_str_k_12_substr_mg1655.ASM584v2.37.gff3.gz",
      seqtype : "DNA"
    ],
    [
      species : "Saccharomyces_cerevisiae",
      version : "R64-1-1.44",
      fasta : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-44/fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz",
      gff : "ftp://ftp.ensemblgenomes.org/pub/fungi/release-44/gff3/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.44.gff3.gz",
      seqtype : "DNA"
    ],
    [
      species : "Drosophila_melanogaster",
      version : "BDGP6.22.44",
      fasta : "ftp://ftp.ensemblgenomes.org/pub/metazoa/release-44/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.22.dna.toplevel.fa.gz",
      gff : "ftp://ftp.ensemblgenomes.org/pub/metazoa/release-44/gff3/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.22.44.gff3.gz",
      seqtype : "DNA"
    ]
  ]

  simreadsDNA {
    //WgSim or its rnf processing problematic as all R2s reported as wrongly aligned, similar issue with CuReSim, use in SE mode only
    // simulator = ["ArtIllumina", "CuReSim", "DwgSim", "MasonIllumina", "WgSim"]
    simulator = ["ArtIllumina"] //, "MasonIllumina"] //MASONIllumina ok for sim from few long input seq but slow for multiple short input seq
    //nreads = 2000
    coverage = 0.2
    // nrepeat = 1  //in silico replication, probably better just to bump up the number of reads?
    length = 100 //can be a list
    mode = "PE" //["SE","PE"]
    distance = [300] //PE only, can be a list hence in square brackets
    distanceDev = [50] //PE only, can be a list hence in square brackets
  }
}


  // references = [
    // [
    //   species : "Arabidopsis_thaliana", //Must be Genus_species
    //   version : "TAIR10_chr1",
    //   fasta : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.dna.chromosome.1.fasta" //can be local or remote, gzipped or flat
    //   // fasta : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.dna.chromosome.Pt.fa" //can be local or remote, gzipped or flat
    //   // fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.chromosome.Pt.fa.gz" //can be local or remote, gzipped or flat
    // ],
    // [
    //   species : "Arabidopsis_thaliana", //Must be Genus_species
    //   version : "TAIR10_chr1_with_bed",
    //   fasta : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.dna.chromosome.1.fasta", //can be local or remote, gzipped or flat
    //   bed : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.43.chromosome.1.bed"
    // ],
    // [
    //   species : "Arabidopsis_thaliana", //Must be Genus_species
    //   version : "TAIR10_chr1_with_gff",
    //   fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.chromosome.1.fa.gz", //can be local or remote, gzipped or flat
    //   gff : "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/gff3/arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.43.chromosome.1.gff3.gz",
    //   seqtype: 'DNA' //This is currently required/fixed but can generalise to allow RNA input in which case certain exec branches can be skipped, only allowing direct rna2rna alignment
    // ],
    // [
    //   species : "Arabidopsis_thaliana", //Must be Genus_species
    //   version : "TAIR10_chr1",
    //   fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-43/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.chromosome.1.fa.gz", //can be local or remote, gzipped or flat
    //   seqtype: 'DNA'
    // ]
    // [
    //   species : "Arabidopsis_thaliana", //Must be Genus_species
    //   version : "TAIR10_chr1_with_gff",
    //   fasta : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.dna.chromosome.1.fasta", //can be local or remote, gzipped or flat
    //   gff : "/flush2/suc010/Arabidopsis_thaliana.TAIR10.43.chromosome.1.gff3.gz"
    // ]
    // [
    //   species : "Oryza_sativa", //Must be Genus_species
    //   version : "IRGSP-1.0_Chr10",
    //   // fasta : "/flush2/suc010/Oryza_sativa.IRGSP-1.0.dna.chromosome.Mt.fa.gz" //can be local or remote, gzipped or flat
    //   // fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/oryza_sativa/dna/Oryza_sativa.IRGSP-1.0.dna.chromosome.Pt.fa.gz" //can be local or remote, gzipped or flat
    //   fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/oryza_sativa/dna/Oryza_sativa.IRGSP-1.0.dna.chromosome.10.fa.gz" //can be local or remote, gzipped or flat
    // ]
    // [
    //   species : "Oryza_sativa2", //Must be Genus_species
    //   version : "IRGSP-1.0_Mt",
    //   fasta : "ftp://ftp.ensemblgenomes.org/pub/plants/release-40/fasta/oryza_sativa/dna/Oryza_sativa.IRGSP-1.0.dna.chromosome.Mt.fa.gz" //can be local or remote, gzipped or flat
    // ]
  // ]

